* {
    margin: 0;
}

body {
    /* position: fixed; */
    /* overflow-x: hidden; */
}

header .logo {
    height: 100px;
    /* position: fixed; */
}

header div img {
    height: 100%;
}

.cont-img {
    background-color: pink;
    height: 200px;
    width: 90%;
    margin: auto;
}

.cont-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    text-align: right;
    margin-top: -150px;
    position: fixed;
    margin-left: 88%;
}

#op-menu {
    position: fixed;
    background-color: red;
    width: 100%;
}

.mostrar-menu {
    margin-left: -90%;
    transition: all 1000ms;
}

.ocultar-menu {
    margin-left: 100%;
    transition: all 1000ms;
}

#op-menu a {
    display: block;
    text-decoration: none;
    background-color: #0A212F;
    color: white;
    font-size: 1.5em;
    text-align: center;
    border: 1px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border-radius: 200px 0 0 0; */
}

#op-menu>a:hover {
    /* background-color: black; */
}

.fa-bars {
    margin-top: 20px;
    font-size: 2em;
}


/* cuerpo index*/

.contenedor {
    /* background-color: gray; */
}

.contenedor section h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.contenedor section p {
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 15px;
}


/* fin cuerpo index*/


/* estilo formularios */

form {
    /* background-color: red; 
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; */
}

label {
    display: block;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 5px;
    /* margin-top: 15px; */
}

input {
    background-color: #f8f8f8;
    margin-bottom: 5px;
    border: 2px solid skyblue;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid #127aa3;
}

input[type=text] {
    font-size: 1em;
    width: 30%;
    padding: 4px;
}

input[type=time] {
    font-size: 1.2em;
}

input[type=date] {
    font-size: 1em;
    width: 30%;
    height: 2em;
}

input[type=number] {
    font-size: 1.1em;
    width: 30%;
}

textarea {
    width: 30%;
    border: 2px solid skyblue;
    border-radius: 5px;
    padding: 10px;
}

textarea:focus {
    outline: none;
    border: 2px solid #127aa3;
}

select {
    font-size: 1em;
    border: 2px solid skyblue;
}

select:focus {
    outline: none;
    border: 2px solid #127aa3;
}

button[type=submit] {
    margin-top: 15px;
    display: block;
    font-size: 1.1em;
    background-color: #4BB543;
    color: #fff;
    /* outline: none; */
    border: 0px solid green;
    border-radius: 10px;
    padding: 5px;
    width: 20%;
    box-shadow: 2px 5px
}

button[type=submit]:hover {
    background-color: #25801f;
    transition: all 600ms;
}

.obligatorio {
    color: red;
}

.box {
    display: flex;
    flex-direction: row;
}

.box1 {
    width: 100%;
    order: 0;
}

.box2 {
    display: none;
    width: 50%;
    order: 1;
}

.box2 div {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.box2 div img {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}

@media (min-width:800px) {
    .box1 {
        width: 50%;
    }
    .box2 {
        display: flex;
    }
}

.contenedor {
    /* background: #2C5364; */
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding: 10px 15px 10px 15px;
}


/* fin estilo formulario */


/* estilo tabla*/

.contenedor-tab {
    overflow-x: scroll;
    margin-top: 10px;
    margin-bottom: 150px;
}

.contenedor-tab h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: auto;
}

table th {
    background-color: #b9e5ff;
    color: #2e568b;
    font-size: .8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0px 5px 0px;
    border-radius: 5px 0px 5px 0px;
}

.inif {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3f3f;
}

.finf {
    border-right: 1px solid #ebebeb;
}

table td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    padding: 5px 0px 5px 0px;
}

table tr:hover {
    background-color: #b9e5ff;
    cursor: pointer;
    transition: all 500ms;
}

.fa-edit {
    color: #4c78b1;
    font-size: 1.5em;
}

.fa-trash-alt {
    color: #c93232;
    font-size: 1.5em;
}


/* fin estilo tabla*/


/* clase error input */

.error {
    border-color: red;
    background-color: #E74C3C;
}

@media (min-width: 600px) {
    .contenedor-tab {
        overflow-x: hidden;
    }
    table th {
        font-size: 1em;
    }
    table td {
        font-size: .9em;
    }
}

@media (min-width: 800px) {
    nav {
        background-color: #0A212F;
        text-align: center;
        margin-top: 10px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: 50px;
    }
    #op-menu {
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    #op-menu a {
        /* margin-top: 10px; */
        display: inline-block;
        text-decoration: none;
        background-color: transparent;
        color: #d7dfe4;
        font-size: 1.3em;
        border: none;
        margin-right: 10px;
        height: 100%;
        line-height: 45px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #op-menu a:hover {
        color: #fff;
        background-color: #164664;
        transition: all 500ms;
    }
    .ocultar-menu {
        margin-left: 0%;
        transition: none;
    }
    .fa-bars {
        display: none;
    }
}


/*fin estilo tabla*/


/* diferentes estilos tabla */

.dark {
    background-color: #2b2b2b;
    color: whitesmoke
}

.pink {
    background-color: pink;
    color: black;
}

.fluor {
    background-color: #ccff00;
    color: black;
}


/* fin diferentes estilos tabla*/


/* estilo respondercheklist */

#btn-ver-det {
    display: block;
    background-color: #3176d2;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

#btn-ver-det:hover {
    background-color: #3981df;
    cursor: pointer;
}

#detalle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#detalle>h3 {
    color: #2e568b;
    margin-top: 50px;
}

#detalle>ul {
    list-style: none;
}

#detalle>ul>li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    background-color: #e7e5e5;
}

#detalle>ul>li:hover {
    background-color: #c0bebe;
    cursor: pointer;
}


/* fin estilo respondercheklist */


/* estilo listado pago */

#cont-nuevo-pago {
    /* background-color: yellow; */
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 5px; */
}

#cont-nuevo-pago>a {
    /* display: block; */
    /* background-color: green; */
    color: #2e568b;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 8%;
    font-weight: bolder;
    padding: 5px;
    /* text-align: center; */
    border-radius: 8px;
    /* padding: 10px; */
}


/* fin listado pago */


/* footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    line-height: 100px;
}

@media (max-height: 320px) {
    footer {
        height: 50px;
        line-height: 60px;
    }
}


/* fin footer*/


/*pagina listadoasesoria*/

.form-asesoria {
    width: 80%;
    height: 80%;
    margin: 200px auto;
    border: 6px solid #362222;
    padding: 20px 15px 20px 15px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background-color: #EBD4D4;
}

.form {
    width: auto;
    height: 80%;
    margin: 20px auto;
    border-radius: 0;
    border: 0px solid #164664;
    text-align: center;
}

.botone {
    width: 0;
    height: 2%;
    margin: 5px;
    margin-left: 70%;
}

button {
    background-color: #25801f;
    margin-top: 100px;
}


/* listado asesoria fin*/